.container00 {
    &.container05 {
        background-image: url(../images/falcon9/01.jpg);
    }

    &.container06 {
        background-image: url(../images/falcon9/02.jpg);
    }

    &.carrossel01 {
        background-image: url(../images/falcon9/03.jpg);
    }

    &.carrossel02 {
        background-image: url(../images/falcon9/04.jpg);
    }

    &.carrossel03 {
        background-image: url(../images/falcon9/05.jpg);
    }

    &.carrossel04 {
        background-image: url(../images/falcon9/06.jpg);
    }

    &.carrossel05 {
        background-image: url(../images/falcon9/07.jpg);
    }

    &.container07 {
        background-image: url(../images/falcon9/08.jpg);
    }
}

.titleFalcon9 {
    padding-top: 50px;
    font-size: 90px;
    font-family: "Rubik", sans-serif;
    font-weight: 514;
}

.numbers {
    background-color: #000000;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titleNumb {
        font-size: 90px;
    }

    .subtitleNumb {
        font-size: 20px;
    }
}

.falcon9Desc {
    font-size: 18px;
    text-align: justify;
    width: 500px;
    line-height: 50px;
}

.containerFalcon9Desc {
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: left;
}

#overViewPosition {
    width: 450px;
    margin-left: 13%;
    padding-top: 15%;
    text-align: justify;
}

.carouselText {
    background-color: #00000090;
}

.downloadDesc {
    background-color: #000000;
    height: 85vh;
    padding-top: 240px;

    a {
        text-decoration: none;
        font-weight: 600;
        color: $copy-color;

        &:hover {
            color: $link-hover;
        }
    }

    button {
        border: 2px solid #FFFFFF;
        margin-right: 10px;
        margin-top: 25px;
    }
}

//Media queries
@media(max-width: 768px) {
    .titleFalcon9 {
        font-size: 85px;
    }

    .numbers {
        .titleNumb {
            font-size: 60px;
        }

        .subtitleNumb {
            font-size: 16px;
        }
    }

    #overViewPosition {
        padding-top: 35%;
        background-color: #00000050;
    }

    .falcon9Desc {
        width: auto;
    }

    .carouselText {
        font-size: 14px;
    }
}

@media(max-width: 575px) {
    .titleFalcon9 {
        font-size: 80px;
    }

    .numbers {
        height: 60vh;
    }

    #overViewPosition {
        width: auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    .carouselText {
        font-size: 14px;
    }
}

@media(max-width: 476px) {
    .titleFalcon9 {
        font-size: 60px;
    }

    #overViewPosition {
        font-size: 12px;
    }

    .carouselText {
        font-size: 12px;
    }
}

@media(max-width: 343px) {
    .titleFalcon9 {
        font-size: 40px;
    }

    .subtitleFalcon9 {
        font-size: 12px;
    }

    .carouselText {
        font-size: 10px;
    }
}